html{
   font-family: 'Assistant', sans-serif;
   font-weight: 300;
}

body{
   color: #44565A;
   background-color: white;
   margin: 0px;
}

/*----------------------------------------------HEADER and FOOTER--------------------*/
h1{
   font-size: 48px;
   margin: 0px;
   margin-left: 5px;
}

h2{
   font-size: 18px;
   margin: 0px;
   margin-left: 5px;
}

.row{
   width: 100%;
}

.underLine{
   border-bottom: 2px solid #44565A;
}

.halfWidth{
   width: 49%;
   display: inline-block;
}

.linkImage{
   margin-left: 20px;
   margin-top: 20px;
   float: right;
}
